*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background:lightcyan;
    
}
.navbar{
    width: 100%;
    height:75px;
    margin:auto;
    background: lightsalmon;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: blue;
    font-size: 35px;
    font-family: 'Times New Roman';
}
.menu{
    width: 400px;
    float:left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: underline;
    color: black;
    font-family: Arial;
    font-weight: bold;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 20px;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    text-align: center;
}
.content .par{
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
   
    
}

.content h1{
    position: relative;
    font-family: Arial;
    font-size: 50px;
    letter-spacing: 2px;
    color: purple;
  
}
.content h2{
    font-size:50px ;
    letter-spacing: 2px;
    background: lightyellow;
}
.features{
    background: lightcyan;
    padding: 20px;
    display: flex;
}
.features figure{
    margin:auto;
    width: 400px;
}
.features figure img{
    width: 400px;
    height: 400px;

}

.form{
    background: yellow;
    width: 500px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    text-align: start;
}
.form input{
    width:70%

}
.form textarea{
    height: 200px;
   width: 300px;

}
#footer{
background: black;
position: relative

}